/.vs
/ClassWorks/Sakharchuk1/.vs
/Арифметика действительных чисел/Sakharchuk2/.vs
/Арифметика действительных чисел/Sakharchuk3/.vs
/Арифметика действительных чисел/Sakharchuk4/.vs
/ClassWorks/Sakharchuk1/Sakharchuk1/Debug/Sakharchuk1.tlog
*.recipe
*.ilk
/ClassWorks/Sakharchuk1/Sakharchuk1/Debug
*.pdb
/ClassWorks/Sakharchuk1/Debug/Sakharchuk1.exe
/Арифметика действительных чисел/Sakharchuk2/.vs/Sakharchuk2/v17/.suo
/Арифметика действительных чисел/Sakharchuk2/.vs/Sakharchuk2/v17/Browse.VC.db
/Арифметика действительных чисел/Sakharchuk2/.vs/Sakharchuk2/v17/DocumentLayout.json
/Арифметика действительных чисел/Sakharchuk2/.vs/Sakharchuk2/FileContentIndex/3455bb1f-f132-4620-a078-4e12047ecbd0.vsidx
/Арифметика действительных чисел/Sakharchuk3/.vs/Sakharchuk3/FileContentIndex/528b3b94-4e80-494f-9017-7f29d0aaef43.vsidx
/Арифметика действительных чисел/Sakharchuk3/.vs/Sakharchuk3/v17/ipch/AutoPCH/86da40453e1f8eb3/SAKHARCHUK3.ipch
/Арифметика действительных чисел/Sakharchuk3/.vs/Sakharchuk3/v17/.suo
/Арифметика действительных чисел/Sakharchuk3/.vs/Sakharchuk3/v17/Browse.VC.db
/Арифметика действительных чисел/Sakharchuk3/.vs/Sakharchuk3/v17/DocumentLayout.backup.json
/Арифметика действительных чисел/Sakharchuk3/.vs/Sakharchuk3/v17/DocumentLayout.json
*.tlog
/Арифметика действительных чисел/Sakharchuk3/Sakharchuk3/x64/Debug
/Арифметика действительных чисел/Sakharchuk4/.vs/Sakharchuk4/FileContentIndex/a3400edc-090e-4464-84fb-56a2f238fc52.vsidx
/Арифметика действительных чисел/Sakharchuk2/Sakharchuk2/Debug
/Арифметика действительных чисел/Sakharchuk3/x64/Debug/Sakharchuk3.exe
/Арифметика действительных чисел/Sakharchuk4/.vs/Sakharchuk4/v17/ipch/AutoPCH/43a1fe6c8dbddd93/SAKHARCHUK4.ipch
/Арифметика действительных чисел/Sakharchuk4/.vs/Sakharchuk4/v17/.suo
/Арифметика действительных чисел/Sakharchuk4/.vs/Sakharchuk4/v17/Browse.VC.db
/Арифметика действительных чисел/Sakharchuk4/.vs/Sakharchuk4/v17/DocumentLayout.backup.json
/Арифметика действительных чисел/Sakharchuk4/.vs/Sakharchuk4/v17/DocumentLayout.json
/Арифметика действительных чисел/Sakharchuk4/x64/Debug/Sakharchuk4.exe
/Арифметика действительных чисел/Sakharchuk4/Sakharchuk4/x64/Debug
