/.vs
/ClassWorks/Sakharchuk1/Debug/
/Арифметика действительных чисел/Sakharchuk2/Debug
/Арифметика действительных чисел/Sakharchuk3/Debug
/Арифметика действительных чисел/Sakharchuk4/Debug
/Арифметика действительных чисел/Sakharchuk2/Debug/Sakharchuk2.exe.recipe
/Арифметика действительных чисел/Sakharchuk2/Debug/Sakharchuk2.ilk
/Арифметика действительных чисел/Sakharchuk2/Debug/Sakharchuk2.log
/Арифметика действительных чисел/Sakharchuk2/Debug/Sakharchuk2.pdb
/Арифметика действительных чисел/Sakharchuk2/Debug/Sakharchuk2.vcxproj.FileListAbsolute.txt
/Арифметика действительных чисел/Sakharchuk2/Debug/vc142.idb
/Арифметика действительных чисел/Sakharchuk2/Debug/vc142.pdb
